body {
  background: url("./images/tweed.png") repeat; }

.margin_center, #app_title, #main_container {
  width: 700px;
  margin: 50px auto 0px; }

#app_title {
  font-size: 5rem;
  font-family: OCR A Std, Impact, Charcoal, sans-serif;
  color: white;
  font-weight: lighter;
  text-shadow: 1px 1px 2px #000;
  text-align: center; }

#main_container {
  font-family: sans-serif;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  background-color: #f5f5f5;
  padding: 10px; }
  #main_container span {
    display: block;
    margin-top: 10px; }
    #main_container span p {
      text-align: center; }
